.content-container {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.post-content {
  text-align: center;
}

.selftext, .sorry-text {
  text-align: initial;
}

.post-content > * {
  width: 100%;
}

.post-image {
  border-radius: 10px;
}

/*
 * this trick was stolen from
 * https://fettblog.eu/blog/2013/06/16/preserving-aspect-ratio-for-embedded-iframes/
 */
.aspect-ratio {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%
}

.aspect-ratio > iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.hidden-marker {
  color: #cc0000;
}

.post-hidden > .post-content {
  display:  none;
}

.post-hidden:hover > .post-content {
  display: initial;
}

.things {
  padding-top: 5px;
}
