{% load static %}
{% load add_get %}
<!DOCTYPE HTML>
<html>
  <head>
    <title>redditgag - go and have fuck</title>
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap-theme.min.css' %}" />
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'redditgag/css/redditgag.css' %}" />
    <link rel="shortcut icon" href="{% static 'redditgag/img/favicon.ico' %}" />
    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
    {% block additional_head %}
    {% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed"
          data-toggle="collapse" data-target"#bs-navbar-collapse"
          aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'frontpage' %}">Redditgag</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-navbar-collapse">
          <ul class="nav navbar-nav">
            <li>
              <a href="{% url 'about' %}">about</a>
            </li>
            <li>
              <a href="{% toggle_nsfw %}">toggle nsfw mode</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              {% if 'reddit_auth' in request.session %}
              You are logged in (<a style="display:inline" href="{% url 'login' %}">logout</a>)
              {% else %}
              <a href="{% url 'login' %}">Log in with Reddit</a>
              {% endif %}
            </li>
          </ul>
          <!-- TODO: create form to input subreddit name (see
            https://getbootstrap.com/components/#navbar -->
        </div>
      </div>
    </nav>
    <div class="content-container">
    {% block content %}
    {% endblock %}
    </div>
  </body>
</html>
