<html>
  <head>
    <title>redditgag - go and have fuck</title>
  </head>
  <body>
    <div class="post-container">
    {% for post in posts %}
      <div class="post">
        <h3 class="title">
          {{ post.title }}
        </h3>
        <div class="post-content">
          {% if post.kind == "IMAGE" %}
          <img src="{{ post.url }}" />
          {% elif post.kind == "VIDEO" %}
          <video>
            {% for source in post.video_sources %}
            <source type="{{ source.mime }}" src="{{ source.url }}" />
            {% endfor %}
          </video>
          {% elif post.kind == "IFRAME" %}
          <div class="aspect-ratio">
            <iframe src="{{ post.url }}" frameborder="0" allowfullscreen>
            </iframe>
          </div>
          {% comment %}
          {% elif post.kind == "TEXT" %}
          {% endcomment %}
          {% endif %}
        </div>
        <div class="things">
          <a href="{{ post.permalink }}">comments</a>
        </div>
      </div>
    {% endfor %}
    </div>
  </body>
</html>
